In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings
import re

warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 1000)

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

useducation_df = pd.read_sql_query('select * from useducation',con=engine)

In [3]:
# First look in to the data size
useducation_df.shape

(1492, 25)

In [4]:
# display(useducation_df)

In [5]:
useducation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

**Tasks**
1. Determine all the variable types and find the fraction of the missing values for each variable.
2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using *only* the observations for that specific year.
4. This time, fill in the missing values using interpolation (extrapolation).
5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In [6]:
# zero revenue in "STATE_REVENUE" is missing data
useducation_df=useducation_df.replace(0, np.nan)
# Replace 'VI', 'U.S._VIRGIN_ISLANDS', as 'VIRGIN_ISLAND'
useducation_df=useducation_df.replace({'VI':'VIRGIN_ISLANDS', 'U.S._VIRGIN_ISLANDS':'VIRGIN_ISLANDS', \
                                       'AS': 'AMERICAN_SAMOA', 'BI':'BUREAU_OF_INDIAN_AFFAIRS', \
                                       'BUREAU_OF_INDIAN_EDUCATIO':'BUREAU_OF_INDIAN_AFFAIRS', \
                                       'BUREAU_OF_INDIAN_EDUCATION': 'BUREAU_OF_INDIAN_AFFAIRS', \
                                       'BIE':'BUREAU_OF_INDIAN_AFFAIRS', \
                                       'DD': 'DEPARTMENT_OF_DEFENSE', \
                                       'DEPARTMENT_OF_DEFENSE_EDUCATION_ACTIVITY':'DEPARTMENT_OF_DEFENSE', \
                                       '^DOD.*$':'DEPARTMENT_OF_DEFENSE', \
                                       'GU':'GUAM', 'NORTHERN_MARIANAS':'NORTHERN_MARIANA_ISLANDS', \
                                       'PR':'PUERTO_RICO', 'COMMONWEALTH_OF_MARIANAS':'MARIANAS'})

useducation_df.loc[useducation_df['STATE'].str.contains('DOD'),'STATE']='DEPARTMENT_OF_DEFENSE'

In [7]:
useducation_df.isnull().sum()*100/useducation_df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   16.085791
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.729223
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

##### Primary Key and State are categorical (nominal) variables.  Year is interval variable (continuous) while all others are ratio variable (continuous).

##### To treat all observations as the same year, we can use mean from the same state to replace the missing value.  For those 'STATE_REVENUE = 0' should be replaced by nan (tossed out).

In [8]:
useducation_df.nunique()

PRIMARY_KEY                     1487
STATE                             60
YEAR                              26
ENROLL                          1224
TOTAL_REVENUE                   1274
FEDERAL_REVENUE                 1275
STATE_REVENUE                   1250
LOCAL_REVENUE                   1275
TOTAL_EXPENDITURE               1275
INSTRUCTION_EXPENDITURE         1275
SUPPORT_SERVICES_EXPENDITURE    1275
OTHER_EXPENDITURE               1222
CAPITAL_OUTLAY_EXPENDITURE      1275
GRADES_PK_G                     1260
GRADES_KG_G                     1348
GRADES_4_G                      1340
GRADES_8_G                      1347
GRADES_12_G                     1342
GRADES_1_8_G                    1360
GRADES_9_12_G                   1358
GRADES_ALL_G                    1318
AVG_MATH_4_SCORE                 535
AVG_MATH_8_SCORE                 531
AVG_READING_4_SCORE              532
AVG_READING_8_SCORE              497
dtype: int64

The unique value in PRIMARY_KEY is 1487 while there are 1492 rows in PRIMARY_KEY,  indicating 5 replcates.

In [9]:
# show replications
display(useducation_df[useducation_df.PRIMARY_KEY.duplicated(keep='first')])

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
841,2008_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,2008,58191.0,1224312.0,85568.0,NaN,1138744.0,1224785.0,520090.0,...,3292.0,2936.0,2092.0,26249.0,10315.0,36676.0,NaN,NaN,NaN,NaN
880,2008_VIRGINIA,VIRGINIA,2008,1230857.0,14768120.0,897627.0,5957786.0,7912707.0,15236306.0,8003167.0,...,4666.0,3863.0,2535.0,36807.0,12837.0,51345.0,NaN,NaN,NaN,NaN
882,2008_VIRGINIA,VIRGINIA,2008,1230857.0,14768120.0,897627.0,5957786.0,7912707.0,15236306.0,8003167.0,...,2548.0,1485.0,484.0,19226.0,2758.0,24554.0,NaN,NaN,NaN,NaN
896,2009_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,2009,44331.0,801008.0,75856.0,NaN,725152.0,805362.0,330698.0,...,3423.0,2860.0,2188.0,26762.0,9970.0,36823.0,219.260141,253.595187,201.984638,252.631381
949,2010_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,2010,43866.0,1195934.0,80585.0,NaN,1115349.0,1290048.0,526469.0,...,3397.0,2992.0,2203.0,27264.0,9977.0,NaN,NaN,NaN,NaN,NaN

In [10]:
# drop replications
useducation_df.drop_duplicates(subset='PRIMARY_KEY', inplace= True)

In [11]:
# # Group by state
# useducation2_df = useducation_df.drop(columns = 'YEAR').groupby('STATE').mean()

# Replace by state mean

column_list = ['ENROLL','TOTAL_REVENUE','FEDERAL_REVENUE','STATE_REVENUE','LOCAL_REVENUE','TOTAL_EXPENDITURE', \
               'INSTRUCTION_EXPENDITURE','SUPPORT_SERVICES_EXPENDITURE','OTHER_EXPENDITURE', \
               'CAPITAL_OUTLAY_EXPENDITURE','GRADES_PK_G','GRADES_KG_G','GRADES_4_G','GRADES_8_G', 'GRADES_12_G', \
               'GRADES_1_8_G','GRADES_9_12_G','GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', \
               'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE']


# useducation2_df[column_list]= useducation2_df.groupby("STATE").transform(lambda x: x.fillna(x.mean()))[column_list]

useducation2_df=useducation_df.copy()

for column in column_list:
    useducation2_df.loc[:, column].fillna(useducation2_df[column].mean(), inplace=True)

In [12]:
## display(useducation2_df)

##### Take year into consideration

In [13]:
useducation3_df=useducation_df.copy()
years = useducation3_df.YEAR.unique()

for column in column_list:
    for year in years:
        useducation3_df.loc[useducation3_df.YEAR==year, column].fillna( \
            useducation3_df[useducation3_df.YEAR==year][column].mean(), inplace=True)

##### Interpolate

In [14]:
useducation4_df=useducation_df.copy()
for column in column_list:
    useducation4_df.loc[:,column].interpolate(inplace=True)

In [15]:
##### Compare different methods

In [16]:
for column in column_list:
    df = pd.concat([useducation_df[column], useducation2_df[column], useducation3_df[column], useducation4_df[column]], axis =1)
    print(df.describe())

             ENROLL        ENROLL        ENROLL        ENROLL
count  1.224000e+03  1.487000e+03  1.224000e+03  1.451000e+03
mean   9.175416e+05  9.175416e+05  9.175416e+05  1.007653e+06
std    1.066514e+06  9.675434e+05  1.066514e+06  1.009922e+06
min    4.386600e+04  4.386600e+04  4.386600e+04  4.386600e+04
25%    2.645145e+05  3.169350e+05  2.645145e+05  3.008390e+05
50%    6.499335e+05  8.222450e+05  6.499335e+05  7.563190e+05
75%    1.010532e+06  9.209985e+05  1.010532e+06  1.595024e+06
max    6.307022e+06  6.307022e+06  6.307022e+06  6.307022e+06
       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count   1.275000e+03   1.487000e+03   1.275000e+03   1.487000e+03
mean    9.102045e+06   9.102045e+06   9.102045e+06   1.112698e+07
std     1.175962e+07   1.088851e+07   1.175962e+07   1.201250e+07
min     4.656500e+05   4.656500e+05   4.656500e+05   4.656500e+05
25%     2.189504e+06   2.566118e+06   2.189504e+06   2.566118e+06
50%     5.085826e+06   6.364028e+06   5.085826e+06   6.354418e+06
75%     1.084516e+07   9.273054e+06   1.084516e+07   1.806361e+07
max     8.921726e+07   8.921726e+07   8.921726e+07   8.921726e+07
       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.275000e+03     1.487000e+03     1.275000e+03     1.487000e+03
mean      7.677799e+05     7.677799e+05     7.677799e+05     8.938993e+05
std       1.146992e+06     1.062027e+06     1.146992e+06     1.108047e+06
min       3.102000e+04     3.102000e+04     3.102000e+04     3.102000e+04
25%       1.899575e+05     2.179300e+05     1.899575e+05     2.179300e+05
50%       4.035480e+05     5.169620e+05     4.035480e+05     5.165200e+05
75%       8.279320e+05     7.677799e+05     8.279320e+05     1.416766e+06
max       9.990221e+06     9.990221e+06     9.990221e+06     9.990221e+06
       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count   1.250000e+03   1.487000e+03   1.250000e+03   1.487000e+03
mean    4.308218e+06   4.308218e+06   4.308218e+06   5.006589e+06
std     5.572415e+06   5.108758e+06   5.572415e+06   5.392770e+06
min     8.361300e+04   8.361300e+04   8.361300e+04   8.361300e+04
25%     1.232924e+06   1.464842e+06   1.232924e+06   1.464842e+06
50%     2.593563e+06   3.320196e+06   2.593563e+06   3.299175e+06
75%     5.190068e+06   4.308218e+06   5.190068e+06   8.140060e+06
max     5.090457e+07   5.090457e+07   5.090457e+07   5.090457e+07
       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count   1.275000e+03   1.487000e+03   1.275000e+03   1.487000e+03
mean    4.110522e+06   4.110522e+06   4.110522e+06   5.311219e+06
std     5.489562e+06   5.082917e+06   5.489562e+06   5.906868e+06
min     2.209300e+04   2.209300e+04   2.209300e+04   2.209300e+04
25%     7.151210e+05   9.437585e+05   7.151210e+05   9.437585e+05
50%     2.058996e+06   2.703800e+06   2.058996e+06   2.651328e+06
75%     4.755293e+06   4.110522e+06   4.755293e+06   8.597088e+06
max     3.610526e+07   3.610526e+07   3.610526e+07   3.610526e+07
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  \
count       1.275000e+03       1.487000e+03       1.275000e+03
mean        9.206242e+06       9.206242e+06       9.206242e+06
std         1.199279e+07       1.110441e+07       1.199279e+07
min         4.816650e+05       4.816650e+05       4.816650e+05
25%         2.170404e+06       2.535716e+06       2.170404e+06
50%         5.242672e+06       6.521058e+06       5.242672e+06
75%         1.074420e+07       9.433192e+06       1.074420e+07
max         8.532013e+07       8.532013e+07       8.532013e+07

       TOTAL_EXPENDITURE
count       1.487000e+03
mean        1.115848e+07
std         1.213539e+07
min         4.816650e+05
25%         2.535716e+06
50%         6.517111e+06
75%         1.806851e+07
max         8.532013e+07
       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count             1.275000e+03             1.487000e+03
mean              4.768010e+06             4.768010e+06
std               6.300569e+06             5.833848e+06
min               2.655490e+05             2.655490e+05
25%               1.171336e+06             1.346529e+06
50%               2.658253e+06             3.359984e+06
75%               5.561959e+06             4.935041e+06
max               4.396452e+07             4.396452e+07

       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE
count             1.275000e+03             1.487000e+03
mean              4.768010e+06             5.800046e+06
std               6.300569e+06             6.382250e+06
min               2.655490e+05             2.655490e+05
25%               1.171336e+06             1.346529e+06
50%               2.658253e+06             3.326656e+06
75%               5.561959e+06             9.190716e+06
max               4.396452e+07             4.396452e+07
       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count                  1.275000e+03                  1.487000e+03
mean                   2.682587e+06                  2.682587e+06
std                    3.357214e+06                  3.108525e+06
min                    1.399630e+05                  1.399630e+05
25%                    6.380760e+05                  7.680730e+05
50%                    1.525471e+06                  1.914124e+06
75%                    3.222924e+06                  2.791234e+06
max                    2.605802e+07                  2.605802e+07

       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE
count                  1.275000e+03                  1.487000e+03
mean                   2.682587e+06                  3.328375e+06
std                    3.357214e+06                  3.503934e+06
min                    1.399630e+05                  1.399630e+05
25%                    6.380760e+05                  7.680730e+05
50%                    1.525471e+06                  1.912222e+06
75%                    3.222924e+06                  5.474168e+06
max                    2.605802e+07                  2.605802e+07
       OTHER_EXPENDITURE  OTHER_EXPENDITURE  OTHER_EXPENDITURE  \
count       1.224000e+03       1.487000e+03       1.224000e+03
mean        4.299509e+05       4.299509e+05       4.299509e+05
std         5.347893e+05       4.851617e+05       5.347893e+05
min         1.154100e+04       1.154100e+04       1.154100e+04
25%         1.034492e+05       1.371380e+05       1.034492e+05
50%         2.717040e+05       3.672950e+05       2.717040e+05
75%         5.172222e+05       4.567830e+05       5.172222e+05
max         3.995951e+06       3.995951e+06       3.995951e+06

       OTHER_EXPENDITURE
count       1.451000e+03
mean        5.013038e+05
std         5.258693e+05
min         1.154100e+04
25%         1.286100e+05
50%         3.421070e+05
75%         8.515945e+05
max         3.995951e+06
       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE  \
count                1.275000e+03                1.487000e+03
mean                 9.034675e+05                9.034675e+05
std                  1.329473e+06                1.230991e+06
min                  1.270800e+04                1.270800e+04
25%                  1.815070e+05                2.173320e+05
50%                  5.104280e+05                6.488070e+05
75%                  9.661480e+05                9.034675e+05
max                  1.022366e+07                1.022366e+07

       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE
count                1.275000e+03                1.487000e+03
mean                 9.034675e+05                1.034563e+06
std                  1.329473e+06                1.274339e+06
min                  1.270800e+04                1.270800e+04
25%                  1.815070e+05                2.173320e+05
50%                  5.104280e+05                6.437250e+05
75%                  9.661480e+05                1.720287e+06
max                  1.022366e+07                1.022366e+07
         GRADES_PK_G    GRADES_PK_G    GRADES_PK_G    GRADES_PK_G
count    1313.000000    1487.000000    1313.000000    1487.000000
mean    17678.640518   17678.640518   17678.640518   15988.927034
std     30062.943067   28248.084729   30062.943067   28696.615992
min        13.000000      13.000000      13.000000      13.000000
25%      2043.000000    2483.000000    2043.000000    1548.500000
50%      8195.000000   10548.000000    8195.000000    5984.000000
75%     22468.000000   19288.500000   22468.000000   19633.000000
max    250911.000000  250911.000000  250911.000000  250911.000000
         GRADES_KG_G    GRADES_KG_G    GRADES_KG_G    GRADES_KG_G
count    1355.000000    1487.000000    1355.000000    1487.000000
mean    63965.470849   63965.470849   63965.470849   59256.950235
std     80272.020400   76623.876817   80272.020400   78327.813637
min       544.000000     544.000000     544.000000     544.000000
25%     11893.000000   14357.000000   11893.000000   10069.000000
50%     41886.000000   49306.000000   41886.000000   38534.000000
75%     74101.000000   70542.500000   74101.000000   71032.000000
max    530531.000000  530531.000000  530531.000000  530531.000000
          GRADES_4_G     GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1356.000000    1487.000000    1356.000000    1487.000000
mean    64764.125369   64764.125369   64764.125369   60041.507061
std     80355.470045   76731.853468   80355.470045   78459.394469
min       633.000000     633.000000     633.000000     633.000000
25%     13895.250000   15396.000000   13895.250000   10294.500000
50%     43434.000000   49998.000000   43434.000000   38583.000000
75%     75560.500000   71892.500000   75560.500000   72431.000000
max    493415.000000  493415.000000  493415.000000  493415.000000
          GRADES_8_G     GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1356.000000    1487.000000    1356.000000    1487.000000
mean    64497.620206   64497.620206   64497.620206   59757.942502
std     78967.505589   75406.479038   78967.505589   77171.753703
min       437.000000     437.000000     437.000000     437.000000
25%     13530.750000   15905.500000   13530.750000   10493.000000
50%     43550.000000   49668.000000   43550.000000   38374.000000
75%     76691.750000   72183.000000   76691.750000   72849.000000
max    500143.000000  500143.000000  500143.000000  500143.000000

         GRADES_12_G    GRADES_12_G    GRADES_12_G    GRADES_12_G
count    1356.000000    1487.000000    1356.000000    1487.000000
mean    54462.023599   54462.023599   54462.023599   50424.839274
std     67939.693855   64875.964643   67939.693855   66355.439930
min       311.000000     311.000000     311.000000     311.000000
25%     11047.250000   13869.000000   11047.250000    9099.000000
50%     36830.500000   39799.000000   36830.500000   33478.000000
75%     67488.250000   64689.000000   67488.250000   65311.500000
max    498403.000000  498403.000000  498403.000000  498403.000000
       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count  1.356000e+03  1.487000e+03  1.356000e+03  1.487000e+03
mean   5.210280e+05  5.210280e+05  5.210280e+05  4.829727e+05
std    6.441294e+05  6.150825e+05  6.441294e+05  6.290764e+05
min    4.878000e+03  4.878000e+03  4.878000e+03  4.878000e+03
25%    1.116368e+05  1.241655e+05  1.116368e+05  8.294550e+04
50%    3.480880e+05  4.027180e+05  3.480880e+05  3.120620e+05
75%    6.120588e+05  5.760920e+05  6.120588e+05  5.838725e+05
max    3.929869e+06  3.929869e+06  3.929869e+06  3.929869e+06
       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count   1.356000e+03   1.487000e+03   1.356000e+03   1.487000e+03
mean    2.479486e+05   2.479486e+05   2.479486e+05   2.296404e+05
std     3.079326e+05   2.940464e+05   3.079326e+05   3.007795e+05
min     1.808000e+03   1.808000e+03   1.808000e+03   1.808000e+03
25%     5.230775e+04   5.986400e+04   5.230775e+04   3.998910e+04
50%     1.658580e+05   1.822810e+05   1.658580e+05   1.479450e+05
75%     2.912305e+05   2.831975e+05   2.912305e+05   2.855785e+05
max     2.013687e+06   2.013687e+06   2.013687e+06   2.013687e+06
       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count  1.315000e+03  1.487000e+03  1.315000e+03  1.487000e+03
mean   8.047688e+05  8.047688e+05  8.047688e+05  7.501317e+05
std    9.712596e+05  9.133213e+05  9.712596e+05  9.297455e+05
min    7.254000e+03  7.254000e+03  7.254000e+03  7.254000e+03
25%    1.837415e+05  2.350055e+05  1.837415e+05  1.736895e+05
50%    5.547770e+05  6.482130e+05  5.547770e+05  4.617240e+05
75%    9.298230e+05  8.797390e+05  9.298230e+05  8.862920e+05
max    5.944746e+06  5.944746e+06  5.944746e+06  5.944746e+06
       AVG_MATH_4_SCORE  AVG_MATH_4_SCORE  AVG_MATH_4_SCORE  AVG_MATH_4_SCORE
count        535.000000       1487.000000        535.000000       1487.000000
mean         234.797280        234.797280        234.797280        232.723448
std           10.209002          6.119902         10.209002          9.410305
min          187.134670        187.134670        187.134670        187.134670
25%          229.752478        234.797280        229.752478        226.264105
50%          237.264821        234.797280        237.264821        234.243053
75%          242.000056        234.797280        242.000056        240.169345
max          253.420961        253.420961        253.420961        253.420961
       AVG_MATH_8_SCORE  AVG_MATH_8_SCORE  AVG_MATH_8_SCORE  AVG_MATH_8_SCORE
count        531.000000       1487.000000        531.000000       1487.000000
mean         278.461453        278.461453        278.461453        275.743578
std           10.111886          6.038940         10.111886          8.745883
min          232.831510        232.831510        232.831510        232.831510
25%          272.765806        278.461453        272.765806        270.093057
50%          280.619538        278.461453        280.619538        275.711957
75%          285.411348        278.461453        285.411348        282.715925
max          300.568235        300.568235        300.568235        300.568235
       AVG_READING_4_SCORE  AVG_READING_4_SCORE  AVG_READING_4_SCORE  \
count           532.000000          1487.000000           532.000000
mean            218.897886           218.897886           218.897886
std               7.742281             4.628143             7.742281
min             178.557612           178.557612           178.557612
25%             214.741150           218.897886           214.741150
50%             220.442392           218.897886           220.442392
75%             224.005309           218.897886           224.005309
max             236.773867           236.773867           236.773867

       AVG_READING_4_SCORE
count          1487.000000
mean            218.977649
std               5.951576
min             178.557612
25%             216.123922
50%             219.763258
75%             222.688141
max             236.773867
       AVG_READING_8_SCORE  AVG_READING_8_SCORE  AVG_READING_8_SCORE  \
count           497.000000          1487.000000           497.000000
mean            263.683325           263.683325           263.683325
std               6.792513             3.924298             6.792513
min             236.379102           236.379102           236.379102
25%             259.547225           263.683325           259.547225
50%             265.022859           263.683325           265.022859
75%             268.197443           263.683325           268.197443
max             280.499130           280.499130           280.499130

       AVG_READING_8_SCORE
count          1486.000000
mean            263.270595
std               4.977074
min             236.379102
25%             260.489178
50%             262.615528
75%             266.858266
max             280.499130

##### Conclusion: Method2 gives overestimate because the missing values are mostly small states, which is replaced by large states.